BASE_URL= Url des Testshops
ENDERECO_API_KEY= API-Key für die Endereco API
ENDERECO_API_URL= URL der Endereco API
ACCOUNT_LOGIN_URL= Url zum Login im Kundenkonto
CHECKOUT_REGISTER_URL= Url zur Registrierung im Checkout
CHECKOUT_CONFIRM_URL= Url zur Bestellbestätigung im Checkout
ACCOUNT_ADDRESS_URL= Url zur Adressverwaltung im Kundenkonto
CLIENT_SECRET= Client Secret für die Authentifizierung bei der Endereco Admin API
CLIENT_ID= Client ID für die Authentifizierung bei der Endereco Admin API
GROUP_ID= Group ID für die Authentifizierung bei der Endereco Admin API
SALUTATION_ID= ID der Anrede im Shop
COUNTRY_ID= ID des Landes im Shop
SALES_CHANNEL_ID= ID des Verkaufskanals im Shop
PRODUCT_NUMBER= Artikelnummer eines beliebigen Produktes im Shop
SHOP_LANGUAGE= de oder en
